# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# python
.scrapecache
__pycache__
google_scraper.db

# npm
node_modules
package-lock.json
*.log
*.gz


# Coveralls
coverage

# Benchmarking
benchmarks/graphs

# uploads/ content
uploads/*

# exception to the rule
!uploads/.gitkeep 

# env
.env